/* ---- CSS reset ---- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- typography ---- */

@font-face {
  font-family: Legothick;
  src: url(./../fonts/Legothick.ttf);
}

body {
  color: black;
  font-family: Legothick, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

p {
  margin: 0;
}

/* ---- game screen layout ---- */

html,
body {
  height: 100%;
}

.canvas-container {
  background-image: url("../img/Lego_office.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 50%;
  width: 728px;
  margin: 0 auto;
}
/*
@media (min-width: 768px) {
  .container {
    max-width: 728px; /* Resizes the container to 728px for large screens 
    margin: 0 auto;
  }
}*/

/* ---- components ---- */

.main-start {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  align-content: center;
  font-size: 25px;
}

li {
  list-style-type: none;
}

.start-btn {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  display: inline-block;
  margin-top: 15px;
  /*border: none;*/
}

.instructions {
  text-align: left;
}

.instructions ul li {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.btn {
  margin-right: 5px;
}

.game {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.game header {
  height: 50px;
  display: flex;
  align-items: center;
}

.game .lives {
  flex: 1;
}

.game.container {
  flex: 1;
  background-image: url("../img/office-figurines.jpg");
  background-size: cover;
  background-position: 60% 50%;
  width: 100vw;
}
.game .label {
  font-weight: bold;
}
.game .value {
  font-style: italic;
}
.game .canvas-container {
  flex: 1;
}
